Repository thanhbican/goals: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,less,json,html,md,yml}": ["prettier --write"]
}

feat: chat and metadata
  apps/client/index.html
  apps/client/public/android-chrome-192x192.png
  apps/client/public/android-chrome-512x512.png
  apps/client/public/apple-touch-icon.png
  apps/client/public/favicon-16x16.png
  apps/client/public/favicon-32x32.png
  apps/client/public/favicon.ico
  apps/client/public/og.png
  apps/client/public/robots.txt
  apps/client/public/site.webmanifest
  apps/client/public/vite.svg
  apps/client/src/App.vue
  apps/client/src/components/Chat.vue
  apps/client/src/components/Navigation.vue
  apps/client/src/schemas/userSchema.ts
  apps/client/src/view/About.vue
  apps/server/src/models/chat.ts
  apps/server/src/models/user.ts
  apps/server/src/routers/auth.ts
  apps/server/src/services/chat.ts
  apps/server/src/services/game.ts
  apps/server/src/services/io.ts
  apps/server/src/types/chat.ts
Due: eslint --fix, prettier --write

chore: type
  apps/client/src/App.vue
  apps/client/src/components/Chat.vue
  apps/client/src/components/PolicyModal.vue
  apps/client/src/types/chat.ts
Due: eslint --fix, prettier --write

fix: change database url
  apps/server/src/server.ts
Due: eslint --fix, prettier --write

refactor: change package syntax and typescript version for build
  apps/client/package.json
Due: prettier --write

fix: package and layout
  apps/client/src/components/Chat.vue
  apps/server/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: global type for deploy
  apps/server/src/middlewares/currentUser.ts
Due: eslint --fix, prettier --write

fix: server start err
  apps/server/package.json
  apps/server/src/services/onlineUser.ts
  apps/server/src/services/roll.ts
  apps/server/src/utils/serverSeed.ts
Due: eslint --fix, prettier --write

fix: tsconfig for deploy
  apps/server/tsconfig.json
Due: prettier --write

fix: git ignorecase
  apps/client/tsconfig.json
  apps/server/package.json
  apps/server/src/controllers/auth.ts
  apps/server/src/models/Chat.ts
  apps/server/src/models/Game.ts
  apps/server/src/models/Round.ts
  apps/server/src/models/User.ts
  apps/server/src/services/chat.ts
  apps/server/src/services/game.ts
  apps/server/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: remove .ts
  apps/server/src/controllers/auth.ts
  apps/server/src/services/chat.ts
  apps/server/src/services/game.ts
Due: eslint --fix, prettier --write

fix: skipLibCheck
  apps/server/tsconfig.json
Due: prettier --write

refactor: change randomBytes package
  apps/server/package.json
  apps/server/src/utils/serverSeed.ts
Due: eslint --fix, prettier --write

chore: change start syntax for production
  apps/client/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: change start syntax for production
  apps/client/package.json
Due: prettier --write

fix: some stuff for deploy
  apps/client/src/components/PolicyModal.vue
  apps/client/src/services/socket.ts
Due: eslint --fix, prettier --write

chore: change socket url
  apps/client/src/services/socket.ts
Due: eslint --fix, prettier --write

fix: stuff
  apps/server/src/app.ts
  apps/server/src/utils/cors.ts
Due: eslint --fix, prettier --write

chore: change small thing and ready for deploy
  apps/client/package.json
  apps/client/public/og.png
  apps/client/src/components/Navigation.vue
  apps/client/src/components/PolicyModal.vue
  apps/client/src/schemas/userSchema.ts
  apps/server/src/app.ts
Due: eslint --fix, prettier --write

fix: change formatday to UTC timezone
  apps/client/src/helper/util.ts
Due: eslint --fix, prettier --write

chore: update metadata
  apps/client/index.html
Due: prettier --write

chore: change content
  apps/client/src/components/Navigation.vue
  apps/client/src/view/About.vue
Due: none

refactor: add .env.example and change a bit structor
  apps/client/.env.example
  apps/client/src/components/GameAmount.vue
  apps/client/src/store/user.ts
  apps/client/src/view/About.vue
  apps/client/src/view/History.vue
  apps/client/src/view/Home.vue
  apps/server/.env.example
  apps/server/helpers/util.ts
  apps/server/src/lib/validate/chat.ts
  apps/server/src/lib/validate/game.ts
  apps/server/src/services/chat.ts
  apps/server/src/services/game.ts
  apps/server/src/utils/util.ts
  apps/server/tsconfig.json
Due: eslint --fix, prettier --write

refactor: update content.......
  README.md
  apps/client/.env.example
  apps/client/src/components/GameAmount.vue
  apps/client/src/components/GameBoard.vue
  apps/client/src/types/game.ts
  apps/server/.env.example
  apps/server/src/services/game.ts
Due: eslint --fix, prettier --write

fix: room event wrong
  apps/server/src/services/game.ts
  apps/server/src/types/game.ts
Due: eslint --fix, prettier --write

chore: remove log
  apps/server/src/app.ts
  apps/server/src/services/game.ts
Due: eslint --fix, prettier --write

feat: responsive for mobile
  apps/client/src/App.vue
  apps/client/src/components/Chat.vue
  apps/client/src/components/GameAmount.vue
  apps/client/src/components/GameBoard.vue
  apps/client/src/components/GameSound.vue
  apps/client/src/components/Navigation.vue
  apps/client/src/components/PolicyModal.vue
  apps/client/src/components/Roulette.vue
  apps/client/src/components/layout/Header.vue
  apps/client/src/components/user/UserInfo.vue
  apps/client/src/sass/style.css
  apps/client/src/view/About.vue
  apps/client/src/view/Fairness.vue
  apps/client/src/view/History.vue
Due: prettier --write

chore: husky
  .husky/commit-msg
Due: none

chore: add docker deployment setup
  .dockerignore
  apps/client/Dockerfile
  apps/client/nginx/default.conf
  apps/server/Dockerfile
  deploy/README.md
  deploy/nginx/game.s4md.com.conf
  docker-compose.yml
Due: prettier --write

fix: keep game history visible on mobile
  apps/client/src/components/GameHistory.vue
Due: none

fix: resolve dependabot vulnerabilities
  apps/client/package.json
  apps/server/package.json
  package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

fix: normalize round ordering
  apps/client/src/api/roundApi.ts
  apps/server/src/controllers/round.ts
  apps/server/src/models/Round.ts
Due: eslint --fix, prettier --write

chore: update readme
  README.md
Due: prettier --write
